.footer {
  font-size: 15px;
}

.footer-link {
  color: #ddd;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffc107;
  text-decoration: underline;
}

.icon-link {
  color: #ddd;
  transition: 0.3s;
}

.icon-link:hover {
  color: #ffc107;
  transform: scale(1.1);
}
.footer {
}