/* GLOBAL LIGHT THEME */
.light-theme {
  background-color: #ffffff !important;
  color: black !important;
}

/* GLOBAL DARK THEME */
.dark-theme {
  background-color: #0f0f0f !important;
  color: white !important;
}

/* Make ALL borders dark in dark theme */
.dark-theme *, 
.dark-theme .border, 
.dark-theme .card, 
.dark-theme .navbar, 
.dark-theme .footer {
  border-color: #212121 !important;
  border-radius: 12px;
}

/* Navbar colors */
.dark-theme .navbar, 
.dark-theme .navbar * {
  background-color: black !important;
  color: white !important;
}

/* Footer styling */
.dark-theme .footer {
  background-color: #2b2b2b !important;
  color: white !important;
}

.dark-theme .footer a {
  color: white !important;
}

/* Cards */
.dark-theme .card {
  background-color: #333 !important;
  color: white !important;
}

.dark-theme .nav-link {
  color: white !important;
}

/* Form inputs */
.dark-theme input,
.dark-theme textarea {
  background-color: #444 !important;
  color: white !important;
  border-color: black !important;
}
